<a href="https://colab.research.google.com/github/mannasoumo/manna/blob/main/assignment1SManna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fun(n):
    print( n*n)
fun(5)

25

In [ ]:
def calculateSum (a,b):
	s = int(a) + int(b)
	return s 
num1 = "10"
num2 = "20"
sum = calculateSum (num1, num2)
print( "Sum = ", sum)

Sum =  30

In [ ]:
s1 = input('enter the first string:\n')
s2 = input('enter the second string:\n')
def fn(s1,s2):
    print('Concatenated String =', s1 + s2)
fn(s1,s2)

enter the first string:
hello
enter the second string:
world
Concatenated String = helloworld

In [ ]:
def length_of_string(str1, str2):
	if (len(str1) == len(str2)):
		print(str1)
		#print("\n")
		print(str2)

	elif (len(str1) < len(str2)):
		print(str2)
	
	else:
		print(str1)

stri1 = input(str("enter First String: "))
stri2 = input(str("enter Second String: "))

print("\n")

length_of_string(stri1, stri2)

enter First String: hi
enter Second String: world


world

In [ ]:
def fn(n):
 if (n%2==0):
    print("It is an even number")
 else:   
    print("It is an odd number")
b = int(input("enter the no  :  "))
fn(b)

enter the no  :  9
It is an odd number

In [ ]:
def fn():
  d=dict()
  for x in range(1,4):
    d[x]=x**2
  print(d)
fn()

{1: 1, 2: 4, 3: 9}

In [ ]:
def fn():
  d=dict()
  for x in range(1,21):
    d[x]=x**2
  print(d)
fn()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
def fn():
  d=dict()
  for x in range(1,21):
      print(x*x)
fn()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

print(l[:5]) 
print(l[5:])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:

li = [1,2,3,4,5,6,7,8,9,10]
squaredNumbers = map(lambda x: x**2, li) 
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:

def even(item):
    if item % 2 == 0:
        return item**2


lst = [i for i in range(1, 11)]
print(list(filter(lambda j: j is not None, list(map(even, lst)))))

[4, 16, 36, 64, 100]

In [ ]:
def even(x):
    return x%2==0

evenNumbers = filter(even, range(1,21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
class Circle():
    def __init__(self,r):
        self.radius = r

    def area(self):
        return 3.1416*(self.radius**2)


circle = Circle(5)
print(circle.area())

78.53999999999999

In [ ]:
class Rectangle():
    def __init__(self,l,w):
        self.length = l
        self.width = w

    def area(self):
        return self.length*self.width


rect = Rectangle(2,4)
print(rect.area())

8

In [ ]:
class Shape():
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self,length = 0):
        Shape.__init__(self)
        self.length = length

    def area(self):
        return self.length*self.length
Asqr = Square(5)
print(Asqr.area())      
print(Square().area())

25
0

In [ ]:
n = int(input())
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

8
40320

In [ ]:
import math

numbers = input("Provide D: ")
numbers = numbers.split(',')

result_list = []
for D in numbers:
    Q = round(math.sqrt(2 * 50 * int(D) / 30))
    result_list.append(Q)

print(result_list)

Provide D: 100,150,180
[18, 22, 24]

In [ ]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
items = input("")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

without,hello,bag,world
bag,hello,without,world

In [ ]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

0100,0011,1010,1001
1010

In [ ]:
items = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0)and (int(s[3])%2==0):
        items.append(s)
print( ",".join(items))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print("", n1+n2+n3+n4)

7
 8638

In [ ]:
numbers = input("")
#numbers = numbers.split(',')

odd_list = [i for i in numbers.split(',') if (int(i) % 2 != 0)]
print((" ").join(odd_list))

1,2,3,4,5,6,7,8,9
1 3 5 7 9

In [ ]:
total = 0
while True:
    d_w_trans = input()
    if d_w_trans == "":
        break
    else:
        d_w_trans = d_w_trans.split(" ")
        if d_w_trans[0] == "D":
            total = total + int(d_w_trans[1])
        elif d_w_trans[0] == "W":
            total = total - int(d_w_trans[1])

print(total)

D 300
D 300
W 200
D 100

500

In [ ]:
import re

passwords = input("Type in: ")
passwords = passwords.split(",")

accepted_pass = []
for i in passwords:
    
    if len(i) < 6 or len(i) > 12:
        continue

    elif not re.search("([a-z])+", i):
        continue

    elif not re.search("([A-Z])+", i):
        continue

    elif not re.search("([0-9])+", i):
        continue

    elif not re.search("([!@$%^&])+", i):
        continue

    else:
        accepted_pass.append(i)

print((" ").join(accepted_pass))

Type in: ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

In [ ]:
from operator import itemgetter

persons = []

while True:
	line = input("")
	if not line:
		break
	persons.append(tuple(line.split(',')))

persons = sorted(persons, key=itemgetter(0,1,2))

for person in persons:
	print (','.join(person))

tamal,19,88
manna,19,86
aritro,19,90
bijoy,19,99
bishal,20,95

aritro,19,90
bijoy,19,99
bishal,20,95
manna,19,86
tamal,19,88

In [ ]:
n = int(input())
divBy7 = [i for i in range(0, n) if (i % 7 == 0)]
print(divBy7)

def divChecker(n):
    for i in range(n):
        if i % 7 == 0:
            value = True
        else:
            value = False
        print(i, value)

divChecker(n)

50
[0, 7, 14, 21, 28, 35, 42, 49]
0 True
1 False
2 False
3 False
4 False
5 False
6 False
7 True
8 False
9 False
10 False
11 False
12 False
13 False
14 True
15 False
16 False
17 False
18 False
19 False
20 False
21 True
22 False
23 False
24 False
25 False
26 False
27 False
28 True
29 False
30 False
31 False
32 False
33 False
34 False
35 True
36 False
37 False
38 False
39 False
40 False
41 False
42 True
43 False
44 False
45 False
46 False
47 False
48 False
49 True

In [ ]:
import math
x, y = 0, 0
while True:
    step = input(" ")

    if step == "":
        break

    else:
        step = step.split(" ")

        if step[0] == "UP":
            y = y + int(step[1])
        elif step[0] == "DOWN":
            y = y - int(step[1])
        elif step[0] == "LEFT":
            x = x - int(step[1])
        elif step[0] == "RIGHT":
            x = x + int(step[1])
c = math.sqrt(x**2 + y**2)
a=int(c)
print("Distance:", aD)

 UP 5
 DOWN 3
 LEFT 3
 RIGHT 2

Distance: 2

In [ ]:
class Person:
    name = "Person"
    
    def __init__(self, name = None):
        self.name = name

jeffrey = Person("Soumyadeep")
print( "%s name is %s" % (Person.name, jeffrey.name))

nico = Person()
nico.name = "Manna"
print ("%s name is %s" % (Person.name, nico.name))

Person name is Soumyadeep
Person name is Manna