<a href="https://colab.research.google.com/github/mannasoumo/manna/blob/main/homework_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
array1 = np.array([0, 10, 20, 40, 60])
array2 = np.array([10, 30, 40])
print("Common values :")
print(np.intersect1d(array1, array2))

Common values :
[10 40]

In [ ]:
import numpy as np
x = np.arange(1, 100)
n= x[(x % 3 == 0) | (x % 5 == 0)]
print(n.sum())

2318

In [ ]:
import numpy as np 
arr = np.array([23, 12, 1, 3, 4, 5, 6]) 
k = 4 
arr1 = np.sort(arr) 
print(arr1[:1])

[1]

In [ ]:
name = input('What is your name \n')
age = int(input('What is your age \n'))
hundred = int((100-age) + 2021)
print ('%s you will turn 100 years old in %s.' % (name, hundred))

What is your name
Manna
What is your age
20
Manna you will turn 100 years old in 2101.

In [11]:
i = 1
number = int(input('Please enter a number: '))
while i < number:
   i += 1
   if number % i == 0:
      print(i)

Please enter a number: 20
2
4
5
10
20

In [12]:
two = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
one = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
both=[]
if len(one) < len(two):
    for i in one:
        if i in two and i not in both:
            both.append(i)      
if len(one) > len(two):
    for i in two:
        if i in one and i not in both:
            both.append(i)          
print(both)

[1, 2, 3, 5, 8, 13]

In [13]:
name = input("Enter a string :")
if name[::-1] == name[0:]: 
	print(name, " is a palindrome")
else: 
	print(name, " is not a palindrome")

Enter a string :malayalam
malayalam  is a palindrome

In [14]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [i for i in a if i % 2 == 0]
print(b)

[4, 16, 36, 64, 100]

In [22]:
import random
number = random.randint(1,9)
guess = int(input("What's your guess?"))
if guess < number:
  print("Too low!")
elif guess > number:
  print("Too high!")
else:
  print("Exactly rignt!")

What's your guess?5
Too low!